
<div class="container see-wraper">
    <div class="col-md-10">
        <div class="row">
                <h3>基本信息</h3>
            <div class="col-sm-6 col-md-4" ui-sref="home.teamserver.summery1" ng-click="go()">
                <a href="#" class="thumbnail">
                    <div class="start1">
                        <span>未开始</span>
                    </div>
                    <img src="images/default.png"
                         alt="通用的占位符缩略图">
                    <div class="main">
                        <h4>春暖花开社区生日会</h4>
                        <p><span>2017年3月21日</span> <span>三鑫社区11号楼2门301</span></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4" ui-sref="home.teamserver.summery1" ng-click="go()">
                <a href="#" class="thumbnail">
                    <div class="start2">
                        <span>已结束</span>
                    </div>
                    <img src="images/default.png"
                         alt="通用的占位符缩略图">
                    <div class="main">
                        <h4>春暖花开社区生日会</h4>
                        <p><span>2017年3月21日</span> <span>三鑫社区11号楼2门301</span></p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4" ui-sref="home.teamserver.summery1" ng-click="go()">
                <a href="#" class="thumbnail">
                    <div class="start3">
                        <span>已总结</span>
                    </div>
                    <img src="images/default.png"
                         alt="通用的占位符缩略图">
                    <div class="main">
                        <h4>春暖花开社区生日会</h4>
                        <p><span>2017年3月21日</span> <span>三鑫社区11号楼2门301</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>